ul
{
	width:686px;
	height:39px;
	float:left;
	background:url(/material/menu_bg_01.gif);
}
ul ul li a:link
{
	color: #FFF;
	display:block;
	width:105px;
	height:39px;
	text-decoration: none;
}
ul ul li a:visited
{
	text-decoration: none;
	color: #FFF;
	display:block;
	width:105px;
	height:39px;
}
ul a:active
{
	text-decoration: none;
	color: #FFF;
}
ul ul
{
	list-style-type:none;
}
ul ul li a.current,.menu_ul ul li a:hover
{
	display:block;
	width:105px;
	height:39px;
	text-decoration: none;
	color: #FFF;
	background:url(/material/menu_bg_01.gif) center top no-repeat;
}
ul li
{
	width:105px;
	float:left;
	font-size:14px;
	text-align:center;
	line-height:39px;
	font-size:15px;
	font-weight:bold;
	color:#FFF;
}
